In [15]:
import pandas as pd
import numpy as np

from titanic_data_prep_helper import Titanic_Feature_Engineering

In [16]:
# import train data to test prep & engineering object
train_data = pd.read_csv('data/train_data.csv', index_col='PassengerId')
train_data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
data_cleaner = Titanic_Feature_Engineering(raw_dataframe=train_data)

In [18]:
data = data_cleaner.clean_prepare_modeling_data()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Survived           891 non-null    int64
 1   Pclass             891 non-null    int64
 2   Sex                891 non-null    int64
 3   Age                891 non-null    float64
 4   Embarked           891 non-null    int64
 5   has_Cabin?         891 non-null    int64
 6   is_Child?          891 non-null    int64
 7   family_aboard      891 non-null    int64
 8   num_shared_ticket  891 non-null    int64
 9   per_person_fare    891 non-null    float64
 10  num_shared_cabin   891 non-null    int64
 11  Cabin_level        891 non-null    int64
 12  title_group        891 non-null    int64
dtypes: float64(2), int64(11)
memory usage: 97.5 KB